body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }

main{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,11,180,1) 15%, rgba(0,212,255,1) 100%); 
    margin: 0;
}

main p{
    background: #F1FA0C;
background: linear-gradient(to bottom, #F1FA0C 80%, #E8F000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-shadow: #FC0 3px 0 10px;
}

main h3{
    background: #F1FA0C;
background: linear-gradient(to bottom, #F1FA0C 80%, #E8F000 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-shadow: #FC0 3px 0 10px;
}

.lineleft{
    height: 1185px;
    width: 230px;
    display: block;
    float: left;
    background-image: url(imgukr.jpg);
    background-repeat: no-repeat;
    padding: 10px;
}

.lineright{
    height: 1185px;
    width: 230px;
    display: block;
    float: right;
    background-image: url(imgukr.jpg);
    background-repeat: no-repeat;
    padding: 10px;
}


  nav {
    background-color: #333;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #555;
    border-radius: 0 0 5px 5px;
  }
  
  nav li:hover > ul {
    display: inherit;
  }
  
  nav ul ul li {
    display: block;
  }
  
  nav ul ul a {
    padding: 10px 15px;
  }
  
  nav a:hover {
    background-color: #555;
  }

  
header {
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: system-ui, sans-serif;
  }

section {
    padding: 20px;
}

h2{
    text-align: center;

}

.tr{
    height: 350px;
}

.tr p{
    text-align: center;
    font-size: 30px;
}

.tr h3{
    font-size: 30px;
    text-align: center;
    padding: 30px;
    margin: 0;
}

#imgtr{
    background-image: url(imgtr.jpg);
    background-repeat: no-repeat;
    width: 280px;
    height: 170px;
    font-display: block;
    float: left;
    margin: 10px;
}

.ls{
    height: 430px;
}

.ls p{
    text-align: center;
    font-size: 30px;
}

#imgls{
    background-image: url(imgls.jpg);
    background-repeat: no-repeat;
    width: 280px;
    height: 290px;
    font-display: block;
    float: left;
    margin: 10px;
}

.ls h3{
    font-size: 30px;
    text-align: center;
    padding: 30px;
    margin: 0;
}

.if{
    height: 380px;
}

.if p{
    text-align: center;
    font-size: 30px;
}

.if h3{
    font-size: 30px;
    text-align: center;
    padding: 30px;
    margin: 0;
}

#imgif{
    background-image: url(imgif.jpg);
    background-repeat: no-repeat;
    width: 200px;
    height: 240px;
    font-display: block;
    float: left;
    margin: 10px;
}
